.team-info {
  background-color: #f7f0f0;
  padding-top: 1px;
  padding-left: 10px;

  .title {
    padding-bottom: 2px;
  }

  h3 {
    color: black;
  }
}

.column{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  float: left;
  width: 40%;
}

.info {
  padding-bottom: 25px;
  pading-top: 25px;
}