.team-box{
  width:  100%;
  height: 125px;
  margin-top: 20px;
  text-align: center;

  h4{
    padding-top: 25px;
    color: white;
  }

  a:link, a:visited {
    background-color: white;
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }

  a:hover, a:active {
    background-color: blue;
    color: white;
  }
}

.arizona-cardinals {
  background-color: #97233F;
}

.arizona-cardinals-secondary {
  background-color: #FFB612;
}

.atlanta-falcons {
  background-color: #A71930;
}

.atlanta-falcons-secondary {
  background-color: #000000;
}

.baltimore-ravens {
  background-color: #241773;
}

.baltimore-ravens-secondary {
  background-color: #000000;
}

.buffalo-bills {
  background-color: #00338D;
}

.buffalo-bills-secondary {
  background-color: #00338D;
}

.carolina-panthers {
  background-color: #0085CA;
}

.carolina-panthers-secondary {
  background-color: #101820;
}

.chicago-bears {
  background-color: #0B162A;
}

.chicago-bears-secondary {
  background-color: #C83803;
}

.cincinnati-bengals {
  background-color: #FB4F14;
}

.cincinnati-bengals-secondary {
  background-color: #000000;
}

.cleveland-browns {
  background-color: #311D00;
}

.cleveland-browns-secondary {
  background-color: #FF3C00;
}

.dallas-cowboys {
  background-color: #041E42;
}

.dallas-cowboys-secondary {
  background-color: #869397;
}

.denver-broncos {
  background-color: #FB4F14;
}

.denver-broncos-secondary {
  background-color: #002244;
}

.detroit-lions {
  background-color: #0076B6;
}

.detroit-lions-secondary {
  background-color: #B0B7BC;
}

.green-bay-packers {
  background-color: #203731;
}

.green-bay-packers-secondary {
  background-color: #FFB612;
}

.houston-texans {
  background-color: #03202F;
}

.houston-texans-secondary {
  background-color: #A71930;
}

.indianapolis-colts {
  background-color: #002C5F;
}

.indianapolis-colts-secondary {
  background-color: #A2AAAD;
}

.jacksonville-jaguars {
  background-color: #101820;
}

.jacksonville-jaguars-secondary {
  background-color: #006778;
}

.kansas-city-chiefs {
  background-color: #E31837;
}

.kansas-city-chiefs-secondary {
  background-color: #FFB81C;
}

.los-angeles-chargers {
  background-color: #0080C6;
}

.los-angeles-chargers-secondary {
  background-color: #FFC20E;
}

.los-angeles-rams {
  background-color: #003594;
}

.los-angeles-rams-secondary {
  background-color: #FFA300;
}

.miami-dolphins {
  background-color: #008E97;
}

.miami-dolphins-secondary {
  background-color: #FC4C02;
}

.minnesota-vikings {
  background-color: #4F2683;
}

.minnesota-vikings-secondary {
  background-color: #FFC62F;
}

.new-england-patriots {
  background-color: #002244;
}

.new-england-patriots-secondary {
  background-color: #C60C30;
}

.new-orleans-saints {
  background-color: #D3BC8D;
}

.new-orleans-saints-secondary {
  background-color: #101820;
}

.new-york-giants {
  background-color: #0B2265;
}

.new-york-giants-secondary {
  background-color: #A71930;
}

.new-york-jets {
  background-color: #125740;
}

.new-york-jets-secondary {
  background-color: #000000;
}

.las-vegas-raiders {
  background-color: #000000;
}

.las-vegas-raiders-secondary {
  background-color: #A5ACAF;
}

.philadelphia-eagles {
  background-color: #004C54;
}

.philadelphia-eagles-secondary {
  background-color: #A5ACAF;
}

.pittsburgh-steelers {
  background-color: #101820;
}

.pittsburgh-steelers-secondary {
  background-color: #FFB612;
}

.san-fransisco-49ers {
  background-color: #AA0000;
}

.san-fransisco-49ers-secondary {
  background-color: #B3995D;
}

.seattle-seahawks {
  background-color: #002244;
}

.seattle-seahawks-secondary {
  background-color: #69BE28;
}

.tampa-bay-buccaneers {
  background-color: #D50A0A;
}

.tampa-bay-buccaneers-secondary {
  background-color: #FF7900;
}

.tennessee-titans {
  background-color: #0C2340;
}

.tennessee-titans-secondary {
  background-color: #4B92DB;
}

.washington-football-team {
  background-color: #773141;
}

.washington-football-team-seondary {
  background-color: #FFB612;
}